{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <title>Подати заявку</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
    #apply {background-color: #1F77FC;}
    </style>
</head>
<body>
    <div class="overlay" id="clear-overlay">
        <div class="popup" >
            <div class="title">
                <p>Підтвердження</p>
                <button><img src="{% static 'img/cross.svg' %}" alt=""></button>
            </div>
            <div class="content">
                <p>Очистити всі поля?</p>
                <div class="buttons">
                    <button class="answer-no">Ні</button>
                    <button class="answer-yes">Так</button>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay" id="sended-overlay">
        <div class="popup">
            <div class="title">
                <p>Повідомлення</p>
                <button><img src="{% static 'img/cross.svg' %}" alt=""></button>
            </div>
            <div class="content">
                <p>Форма успішно надіслана</p>
            </div>
        </div>
    </div>
    <header>
        <h2>Клуб знайомств</h2>
        <nav>
            <div id="logo">
                <a href="{% url 'main_page' %}">
                    <img src="{% static 'img/logo.svg' %}" alt="Логотип сайту для знайомств Amor"/>
                </a>
            </div>
            <div>
                <a href="{% url 'main_page' %}">Про клуб </a>
                <div class="pop-menu">
                    <a href="{% url 'main_page' %}#goals">Цілі</a>
                    <a href="{% url 'main_page' %}#tasks">Завдання</a>
                    <a href="{% url 'main_page' %}#locations">Розташування</a>
                    <a href="{% url 'main_page' %}#social">Контакти</a>
                </div>
            </div>
            <div><a href="{% url 'couples' %}">Сімейні пари</a></div>
            <div><a href="#">Розваги</a></div>
            <div><a href="{% url 'forum' %}">Форум</a></div>
            <div class="active"><a href="#">Подати заявку</a></div>
            <div><a href="{% url 'applications_display' %}">Усі заявки</a></div>
            {% if user.is_authenticated %}
                <div><a href="{% url 'logout' %}">Вийти</a></div>
            {% endif %}
        </nav>
    </header>
    <main>
        <article>
            <h1>Подати заявку</h1>
            <section>
                <form method="POST" action="{% url 'create_club_member' %}" id="apply-form">
                    <p>* - обов'язкові поля для введення</p>
                    <div class="block">
                        <div class="row">
                            <div class="field">
                                <label for="last_name">Прізвище*</label>
                                <input type="text" name="last_name" id="last_name" required>
                            </div>
                            <div class="field">
                                <label for="first_name">Ім'я*</label>
                                <input type="text" name="first_name" id="first_name" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="field">
                                <label for="patronymic">По-батькові*</label>
                                <input type="text" name="patronymic" id="patronymic" required>
                            </div>
                            <div class="field">
                                <label for="birthday">День народження*</label>
                                <input type="date" name="birthday" id="birthday" min="1871-01-01" max="2004-12-31" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="field">
                                <label for="gender">Стать*</label>
                                <select name="gender" id="gender" required>
                                    <option value="woman">Жіноча</option>
                                    <option value="man">Чоловіча</option>
                                </select>
                            </div>
                            <div class="field">
                                <label for="nationality">Національність</label>
                                <select name="nationality" id="nationality" >
                                    <option value="ukrainian">Українська</option>
                                    <option value="polish">Польська</option>
                                    <option value="italian">Італійська</option>
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="block">
                        <div class="row">
                            <div class="field">
                                <label for="region">Область*</label>
                                <select name="region" id="region" required>
                                     {% for region in regions %}
                                        <option value="{{ region.id }}">{{ region.title }}</option>
                                     {% endfor %}
                                </select>
                            </div>
                            <div class="field">
                                <label for="settlement">Місто*</label>
                                <select name="settlement" id="settlement" required>
                                    {% for settlement in settlements %}
                                        <option value="{{ settlement.id }}">{{ settlement.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="field">
                                <label for="email">E-mail*</label>
                                <input type="email" name="email" id="email" required>
                            </div>
                            <div class="field">
                                <label for="phone_number">Номер телефону</label>
                                <input type="tel" name="phone_number" id="phone_number" pattern="^(\+\d{1,2})?[- ]?\(?(\d{3})\)?[- ]?(\d{3})[- ]?(\d{2})[- ]?(\d{2})$">
                            </div>
                        </div>
                    </div>

                    <div class="block">
                        <div class="row">
                            <div class="field">
                                <label for="education">Освіта</label>
                                <select name="education" id="education">
                                    <option value="higher">Вища</option>
                                    <option value="average">Середня</option>
                                    <option value="none">Немає</option>
                                </select>
                            </div>
                            <div class="field">
                                <label for="activity_field">Сфера діяльності</label>
                                <input type="text" name="activity_field" id="activity_field">
                            </div>
                        </div>

                        <div class="row">
                            <div class="field">
                                <label for="hobby">Хоббі (через кому)</label>
                                <textarea name="hobby" id="hobby"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="field">
                                <label for="pets">Домашні улюбленці</label>
                                <input type="text" name="pets" id="pets">
                            </div>
                        </div>
                    </div>

                    <div class="block">
                        <div class="row">
                            <div class="field">
                                <label for="favorite_holiday">Улюблене свято</label>
                                <input type="text" name="favorite_holiday" id="favorite_holiday">
                            </div>
                            <div class="field">
                                <label for="favorite_color">Улюблений колір</label>
                                <input type="text" name="favorite_color" id="favorite_color">
                            </div>
                        </div>

                        <div class="row">
                            <div class="field">
                                <label for="favorite_dish">Улюблена страва</label>
                                <input type="text" name="favorite_dish" id="favorite_dish">
                            </div>
                            <div class="field">
                                <label for="favorite_drink">Улюблений напій</label>
                                <input type="text" name="favorite_drink" id="favorite_drink">
                            </div>
                        </div>

                        <div class="row">
                            <div class="field">
                                <label for="favorite_musician">Улюблений музикант</label>
                                <input type="text" name="favorite_musician" id="favorite_musician">
                            </div>
                            <div class="field">
                                <label for="favorite_actor">Улюблений актор</label>
                                <input type="text" name="favorite_actor" id="favorite_actor">
                            </div>
                        </div>

                        <div class="row">
                            <div class="field">
                                <label for="favorite_book">Улюблена книга</label>
                                <input type="text" name="favorite_book" id="favorite_book">
                            </div>
                            <div class="field">
                                <label for="favorite_movie">Улюблений фільм</label>
                                <input type="text" name="favorite_movie" id="favorite_movie">
                            </div>
                        </div>
                    </div>

                    <div class="block">
                        <div class="row">
                            <div class="field">
                                <label for="appreciate_in_people">Що ви цінуєте у людях?</label>
                                <textarea name="appreciate_in_people" id="appreciate_in_people"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="field">
                                <label for="repulsive_in_people">Що вас відштовхує у людях?</label>
                                <textarea name="repulsive_in_people" id="repulsive_in_people"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="block">
                        <div class="row">
                            <input type="submit" value="Подати заявку" id="apply">

                        </div>
                    </div>
                </form>
            </section>
        </article>
    </main>
    <footer>
        Аліна Швиденко, 2022
    </footer>

</body>
</html>