{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <title>Сімейні пари</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h2>Клуб знайомств</h2>
        <nav>
            <div id="logo">
                <a href="{% url 'main_page' %}">
                    <img src="{% static 'img/logo.svg' %}" alt="Логотип сайту для знайомств Amor"/>
                </a>
            </div>
            <div>
                <a href="{% url 'main_page' %}">Про клуб </a>
                <div class="pop-menu">
                    <a href="{% url 'main_page' %}#goals">Цілі</a>
                    <a href="{% url 'main_page' %}#tasks">Завдання</a>
                    <a href="{% url 'main_page' %}#locations">Розташування</a>
                    <a href="{% url 'main_page' %}#social">Контакти</a>
                </div>
            </div>
            <div class="active"><a href="#">Сімейні пари</a></div>
            <div><a href="#">Розваги</a></div>
            <div><a href="{% url 'forum' %}">Форум</a></div>
            <div><a href="{% url 'apply' %}">Подати заявку</a></div>
            <div><a href="{% url 'applications_display' %}">Усі заявки</a></div>
        </nav>
    </header>
    <main>
        <article>
            <h1>Сімейні пари</h1>
            <p>На цій сторінці ви можете прочитати чудові історії деяких участників, які знайшли свою другу половинку в нашому клубі.</p>
            <section id="couple1">
                <h2>Наталія та Олег</h2>
                <img src="{% static 'img/couple1.jpg' %}" alt="Фотографія Наталії та Олега" class="photo"/>
                <p>Згадує Наталія: "Ми познайомились під час зустрічі клубу на майстер-класі по приготуванню печива 2 роки тому. В мене ніяк не виходило замісити тісто і Олег вирішив мені допомогти. Поки ми готували ми встигли дізнатися багато цікавого один про одного. Під кінець майстер-класу у нас обох вийшло чудове печиво (нас навіть похвалили!). Олег вразив мене своєю рішучістю та одразу запросив на побачення. Ми дуже гарно провели час разом і зустрічались знову і знову, поки не зрозуміли, що ідеально підходимо один одному. А тепер ми вже рік одружені та чекаємо на дитину!"</p>
            </section>
            <section id="couple2">
                <h2>Олена та Віктор</h2>
                <img src="{% static 'img/couple2.jpg' %}" alt="Фотографія Олени та Віктора" class="photo"/>
                <p>Згадує Віктор: "Ми познайомились під час спілкування у форумі. Олена радила дівчині як дбати про новонароджену дитину. Я у свою чергу, також, розповідав з особистого досвіду, що краще робити. Саме в цей момент ми помітили, що думаємо однаково і вирішили поспілкуватися в особистому листуванні. Після місяця листування я набрався сміливості запросити Олена на побачення. Ми гуляли в парку, сміялися та насолоджувалися проведеним часом разом як у молодості. Ми закохалися один в одного і тепер живемо разом. Через 2 місяці будемо святкувати весілля. "</p>
            </section>
            <section id="couple3">
                <h2>Марія та Ігор</h2>
                <img src="{% static 'img/couple3.jpg' %}" alt="Фотографія Олени та Віктора" class="photo"/>
                <p>"Згадує Марія: "Ми познайомились під час розважального заходу у парку, який проводив клуб. Ігор мені одразу сподобався, так як він перший підійшов знайомитися, був ввічливий та позитивний. У нас виявилося дуже багато спільного, навіть улюблені автори книжок співпали. Ми ще зустрічалися декілька разів, щоб побільше дізнатися один про одного. Одного разу Ігор назначив зустріч у ресторані, подарував квіти, організував виступ музикантів і запропонував бути разом. Я не змогла відмовити, хоч і знаю його не так довго. На даний момент ми вже разом 3 роки і дуже вдячні клубу за цю зустріч у парку."</p>
            </section>
        </article>
    </main>
    <footer>
        Аліна Швиденко, 2022
    </footer>
</body>
</html>