{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <title>Про клуб</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h2>Клуб знайомств</h2>
        <nav>
            <div id="logo">
                <a href="{% url 'main_page' %}">
                    <img src="{% static 'img/logo.svg' %}" alt="Логотип сайту для знайомств Amor"/>
                </a>
            </div>
            <div class="active">
                <a href="{% url 'main_page' %}">Про клуб </a>
                <div class="pop-menu">
                    <a href="#goals">Цілі</a>
                    <a href="#tasks">Завдання</a>
                    <a href="#locations">Розташування</a>
                    <a href="#social">Контакти</a>
                </div>
            </div>
            <div><a href="{% url 'couples' %}">Сімейні пари</a></div>
<!--            <div><a href="#">Розваги</a></div>-->
            <div><a href="{% url 'forum' %}">Форум</a></div>
            <div><a href="{% url 'apply' %}">Подати заявку</a></div>
            <div><a href="{% url 'applications_display' %}">Усі заявки</a></div>
            {% if user.is_authenticated %}
                <div><a href="{% url 'logout' %}">Вийти</a></div>
            {% endif %}
        </nav>
    </header>
    <main style="{% if color != '' %}background-color:{{ color }}{% endif %}">
        <article>
            <h1>Це сторінка "Про клуб"</h1>
            <section>
                <div class="slider">
                    <div class="content">
                        <a href="{% url 'couples' %}#couple1" class="active"><img src="{% static 'img/couple1.jpg' %}" alt=""></a>
                        <a href="{% url 'couples' %}#couple2"><img src="{% static 'img/couple2.jpg' %}" alt=""></a>
                        <a href="{% url 'couples' %}#couple3"><img src="{% static 'img/couple3.jpg' %}" alt=""></a>
                    </div>
                    <div class="indicators">
                        <div class="circle active"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                </div>
            </section>
            <p>Amor - це сайт знайомств клубу призначений для людей, які хочуть поспілкуватися, знайти нових друзів або другу половинку. Загалом, Amor спрямований на аудиторію віком від 30 років, які відчувають себе самотніми. На цьому сайті кожен може створити власну анкету, ділитися своїми переживаннями або радощами у форумі. Окрім цього, ти можеш давати поради іншим, дізнаватися більше про кожного учасника та продовжувати спілкування в особистому листуванні. Познайомитися з учасниками клубу можна як онлайн, так й при зустрічі, так як клуб організовує розважальні заходи. Наприклад, похід до кінотеатру, зустріч за чашечкою кави, настільні ігри й так далі. З усією інформацію про розважальні заходи ви можете ознайомитися у розділі меню «Розваги».</p>
            <section id="goals">
                <h2 class="left">Цілі</h2>
                <p>Головною метою клубу є створення дружньої атмосфери.</p>
                <ol>
                    <li>Допомогти учасникам клубу зустрітити близького за духом людину, закохатися, побудувати власну сім’ю та жити щасливо.</li>
                    <li>Знайти друзів для кожного учасника клубу, аби забути назавжди про самотність.</li>
                    <li>Весело провести час, саморозвиток, аби учасники могли не тільки знаходити нові знайомства, а і дізнаватися щось нове.</li>
                </ol>
            </section>
            <section id="tasks">
                <h2 class="left">Завдання</h2>
                <p>Наш клуб ставить перед собою наступні завдання:</p>
                <ol>
                    <li>Організація форуму, для спілкування один з одним, обмінювання інформацією та зближення.</li>
                    <li>Організація онлайн- та офлайн-розваг для кращого досвіду знайомста. Офлайн будуть організовані курси із саморозвитку та зустрічі для спілкування один з одним: майстер-класи, походи у музей, театр, кінотеатр та інше. Якщо людина не має можливості відвідувати офлайн-заходи, то саме для цього існують онлайн заходи. Наприклад, ми проводимо кінодень, у який кожен може під’єднатися, насолоджуватися переглядом фільму та паралельно у спілкуватися у чаті.</li>
                    <li>Показ вже сформованих щасливих пар за допомогою клубу, для мотивування учасників та викорінення сумнівів, щодо ефективності сайту. Детальніше про сформовані пари можна буде почитати у відповідному розділі.</li>
                </ol>
            </section>
            <section id="locations">
                <h2 class="left">Розташування</h2>
                <p>Ви можете знайти нас за адресою: <em>вул. Цілиноградська, 60, м. Харків, Україна.</em></p>
            </section>
            <section id="social">
                <a href="#"><img src="{% static 'img/telegram.svg' %}" alt="Телеграм"></a>
                <a href="#"><img src="{% static 'img/instagram.svg' %}" alt="Інстаграм"></a>
                <a href="#"><img src="{% static 'img/facebook.svg' %}" alt="Фейсбук"></a>
                <a href="#"><img src="{% static 'img/twitter.svg' %}" alt="Твіттер"></a>
            </section>
        </article>
    </main>
    <footer>
        <a href="{% url 'sitemap' %}">Мапа сайту</a>
        <p>Аліна Швиденко, 2025</p>
    </footer>
    <script src= "{% static 'js/slider.js' %}"></script>
</body>
</html>