{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <title>Мапа сайту</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h2>Клуб знайомств</h2>
        <nav>
            <div id="logo">
                <a href="{% url 'main_page' %}">
                    <img src="{% static 'img/logo.svg' %}" alt="Логотип сайту для знайомств Amor"/>
                </a>
            </div>
            <div>
                <a href="{% url 'main_page' %}">Про клуб </a>
                <div class="pop-menu">
                    <a href="{% url 'main_page' %}#goals">Цілі</a>
                    <a href="{% url 'main_page' %}#tasks">Завдання</a>
                    <a href="{% url 'main_page' %}#locations">Розташування</a>
                    <a href="{% url 'main_page' %}#social">Контакти</a>
                </div>
            </div>
            <div><a href="{% url 'couples' %}">Сімейні пари</a></div>
<!--            <div><a href="#">Розваги</a></div>-->
            <div><a href="{% url 'forum' %}">Форум</a></div>
            <div><a href="{% url 'apply' %}">Подати заявку</a></div>
            <div><a href="{% url 'applications_display' %}">Усі заявки</a></div>
            {% if user.is_authenticated %}
                <div><a href="{% url 'logout' %}">Вийти</a></div>
            {% endif %}
        </nav>
    </header>
    <main>
        <article>
            <h1>Мапа сайту</h1>
            <ul>
              <li><a href="{% url 'main_page' %}">Про клуб </a></li>
<!--              <li><a href="#">Розваги</a></li>-->
              <li><a href="{% url 'forum' %}">Форум</a></li>
              <li><a href="{% url 'apply' %}">Подати заявку</a></li>
              <li><a href="{% url 'applications_display' %}">Усі заявки</a></li>
            </ul>
        </article>
    </main>
    <footer>
        <a href="{% url 'sitemap' %}">Мапа сайту</a>
        <p>Аліна Швиденко, 2022</p>
    </footer>
</body>
</html>